body {
  text-align: center;
  display:grid;
}

img {
width: 300px;
height: auto;
display: inline-block;
display: center;
}

ul {
list-style: none;
padding: auto;

}

.shadow {
margin: auto;
display: flex;
justify-content: center;

}

.nav-bar {
  width: 100vw;
  height: 10vh;
  background-color: red;
  text-align: center;


  display: flex;
  align-items: center;
  justify-content: space-around;
}
